{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

<h2>Add member to {{ group.name }} </h2>

{# admin-add-member form #}
<form action="{{ url_for('admin-add-member', { 'groupId': groupId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.groupId is defined %} {{ displayErrors('groupId', errors)|raw }} {% endif %}

    {{ textField('user_id', 'User', 'text', 'what user', 'required')|raw }}
    {% if errors.userId is defined %} {{ displayErrors('userId', errors)|raw }} {% endif %}

    {{ submitButton('Add Member')|raw }}
</form>
{# end admin-add-member form #}

{% endblock %}