{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# add-member form #}
<form action="{{ url_for('add-member', { 'groupId': groupId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.groupId is defined %} {{ displayErrors('groupId', errors)|raw }} {% endif %}

    {{ textField('user_id', 'User', 'text', 'what user', 'required')|raw }}
    {% if errors.userId is defined %} {{ displayErrors('userId', errors)|raw }} {% endif %}

    {{ submitButton('Add Member')|raw }}
</form>
{# end add-member form #}

{% endblock %}