{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# create-group form #}
<form action="{{ url_for('create-group') }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}
    
    {% if errors.ownerId is defined %} {{ displayErrors('ownerId', errors)|raw }} {% endif %}

    {{ textField('name', 'Group Name', 'text', 'name of group', 'required')|raw }}
    {% if errors.name is defined %} {{ displayErrors('name', errors)|raw }} {% endif %}

    {{ submitButton('Create Group')|raw }}
</form>
{# end create-group form #}

{% endblock %}