{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

<h1 class="mb-4">all groups</h1>
<p class="mb-4"><a href="{{ url_for('admin-create-group') }}"><u>Create Group</u></a></p>

{% if groups is defined %}
    {% for group in groups %}
        <div>
            <a href={{ url_for('admin-group', { 'groupId': group.groupId }) }}> <u>{{ group.groupId }}</u> </a> |
            {{ group.name }} |
            {{ group.ownerId }} |
        </div>
    {% endfor %}
{% endif %}

{% endblock %}