{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

{% if member is defined %}

    {# admin-update-member form #}
    <form action="{{ url_for('admin-update-member', { 'groupId': groupId, 'memberId': memberId }) }}" method="POST">

        {{ getHiddenHoneypot()|raw }}
        {{ getCsrfFields()|raw }}
        
        {% if errors.groupId is defined %} {{ displayErrors('groupId', errors)|raw }} {% endif %}
        {% if errors.memberId is defined %} {{ displayErrors('memberId', errors)|raw }} {% endif %}

        {{ dropdownField('group_role', 'Role', member.role, memberTypes, 'Select role')|raw }}
        {% if errors.groupRole is defined %} {{ displayErrors('groupRole', errors)|raw }} {% endif %}

        {{ dropdownField('allow_multiple', 'Allow Multiple Players', member.allowMultiplePlayers, allowMultiplePlayers, 'Allow multiple players')|raw }}
        {% if errors.allowMultiplePlayers is defined %} {{ displayErrors('allowMultiplePlayers', errors)|raw }} {% endif %}


        {{ submitButton('Update Member')|raw }}
    </form>
    {# end admin-update-member form #}

{% else %}

<p>Member is not defined</p>

{% endif %}

{% endblock %}