{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# add-member form #}
<form action="{{ url_for('add-member', { 'groupId': groupId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {{ textField('user_id', 'User', 'text', 'what user', 'required')|raw }}
    {% if errors.user_id is defined %} {{ displayErrors('user_id', errors)|raw }} {% endif %}
    {% if errors.group_id is defined %} {{ displayErrors('group_id', errors)|raw }} {% endif %}

    {{ submitButton('Add Member')|raw }}
</form>
{# end add-member form #}

{% endblock %}