{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# add-member form #}
<form action="{{ url_for('add-member') }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.name is defined %}
        {% for error in errors.name %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="group_id" placeholder="name of group" value="{% if old.group_id is defined %}{{ old.group_id }}{% endif %}" />

    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="user_id" value="{% if old.user_id is defined %}{{ old.user_id }}{% endif %}" />

    <button type="submit" class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-1"
    >Add Member</button>
</form>
{# end add-member form #}

{% endblock %}