{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# follow-team form #}
<form action="{{ url_for('follow-team', { 'groupId': groupId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.groupId is defined %} {{ displayErrors('groupId', errors)|raw }} {% endif %}
    {% if errors.seasonId is defined %} {{ displayErrors('seasonId', errors)|raw }} {% endif %}
    {% if errors.teamId is defined %} {{ displayErrors('teamId', errors)|raw }} {% endif %}

    {{ dropdownField('sport', 'Sport', null, sports, 'Select a sport')|raw }}

    <div class="season_div">
        {{ dropdownField('season_id', 'season', null, [], 'What season')|raw }}
    </div>

    <div class="team_div">
        {{ dropdownField('team_id', 'Team', null, [], 'What team')|raw }}
    </div>


    {{ submitButton('Follow Team')|raw }}
</form>
{# end follow-team form #}

<script type="text/javascript">
    
    // global
    const sports = {{ sports | json_encode | raw }};
    const seasons = {{ seasons | json_encode | raw }};
    let httpRequest;

    // elements
    const seasonDiv = document.querySelector(".season_div");
    const teamDiv = document.querySelector(".team_div");
    const sportSelect = document.querySelector("select[name='sport']");
    const seasonSelect = document.querySelector("select[name='season_id']");
    const teamSelect = document.querySelector("select[name='team_id']");

    // hide inputs on page load
    seasonDiv.classList.add('hidden');
    teamDiv.classList.add('hidden');

   
    sportSelect.addEventListener('change', function() {
            
        teamDiv.classList.add('hidden');

        // clear season and team dropdown
        seasonSelect.options.length = 0;
        teamSelect.options.length = 0;

        // add default options
        let option = document.createElement('option');
        option.selected = 'selected';
        option.value = '';
        option.disabled = true;
        option.innerHTML = 'What season...';
        seasonSelect.add(option);
        option = document.createElement('option');
        option.selected = 'selected';
        option.value = '';
        option.disabled = true;
        option.innerHTML = 'What team...';
        teamSelect.add(option);

        // get selected sport
        let sportValue = this.value;

        // turn object into array
        let seasonsBySport = Object.entries(seasons[sportValue]);

        // add season options to select dropdown
        seasonsBySport.forEach(function(season) {
            option = document.createElement('option');
            option.value = season[0];
            option.innerHTML = season[1];
            seasonSelect.add(option);
        });

        // show the select div
        seasonDiv.classList.remove('hidden');
    });


    seasonSelect.addEventListener('change', getTeams)


    function getTeams() {

        // clear season and team dropdown
        teamSelect.options.length = 0;

        // add default options
        let option = document.createElement('option');
        option.selected = 'selected';
        option.value = '';
        option.disabled = true;
        option.innerHTML = 'What team...';
        teamSelect.add(option);

        httpRequest = new XMLHttpRequest();

        let seasonId = seasonSelect.value;

        if (!httpRequest) {
            alert('Giving up :( Cannot create an XMLHTTP instance');
            return false;
        }
        httpRequest.onreadystatechange = updateTeams;
        httpRequest.open('GET', `/season/teamlist/${seasonId}`);
        httpRequest.send();
    }

    function updateTeams() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                let teams = JSON.parse(httpRequest.responseText);
                console.log(teams);
                // add team options to select dropdown
                teams.forEach(function(team) {
                    option = document.createElement('option');
                    option.value = team.teamId;
                    option.innerHTML = team.teamName;
                    teamSelect.add(option);
                });

                // show the select div
                teamDiv.classList.remove('hidden');

            } else {
                alert('There was a problem with the request.');
            }
        }
    }


</script>

{% endblock %}
