{% extends "layout/dashboard-base-normal.twig" %}

{% block content %}

<h2>Submitting score for {{ player.username }} for {{ group.name }}</h2>

{# submite-score form #}
<form action="{{ url_for('submit-score', { 'groupId': groupId, 'playerId': playerId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.groupId is defined %} {{ displayErrors('groupId', errors)|raw }} {% endif %}
    {% if errors.playerId is defined %} {{ displayErrors('playerId', errors)|raw }} {% endif %}

    {{ dropdownField('game_id', 'Game', null, games, 'Select a game')|raw }}
    {% if errors.gameId is defined %} {{ displayErrors('gameId', errors)|raw }} {% endif %}

    {{ textField('home_team_prediction', 'Home Team Prediction', 'number', '', 'required')|raw }}
    {% if errors.homeTeamPrediction is defined %} {{ displayErrors('homeTeamPrediction', errors)|raw }} {% endif %}

    {{ textField('away_team_prediction', 'AwayTeam Prediction', 'number', '', 'required')|raw }}
    {% if errors.awayTeamPrediction is defined %} {{ displayErrors('awayTeamPrediction', errors)|raw }} {% endif %}

    {{ submitButton('Submit Score')|raw }}
</form>
{# end submite-score form #}

{% endblock %}