{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# add-member form #}
<form action="{{ url_for('submit-score', { 'groupId': groupId, 'playerId': playerId })) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {{ textField('home_team_prediction', 'Home Team Score', 'number', '', 'required')|raw }}
    {% if errors.home_team_prediction is defined %} {{ displayErrors('home_team_prediction', errors)|raw }} {% endif %}

    {{ textField('away_team_prediction', 'AwayTeam Score', 'number', '', 'required')|raw }}
    {% if errors.away_team_prediction is defined %} {{ displayErrors('away_team_prediction', errors)|raw }} {% endif %}

    {{ submitButton('Submit Score')|raw }}
</form>
{# end add-member form #}

{% endblock %}