{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# update-score form #}
<form action="{{ url_for('update-score', { 'groupId': groupId, 'scoreId': scoreId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {{ textField('home_team_prediction', 'Home Team Score', 'number', '', 'required')|raw }}
    {% if errors.home_team_prediction is defined %} {{ displayErrors('home_team_prediction', errors)|raw }} {% endif %}

    {{ textField('away_team_prediction', 'AwayTeam Score', 'number', '', 'required')|raw }}
    {% if errors.away_team_prediction is defined %} {{ displayErrors('away_team_prediction', errors)|raw }} {% endif %}

    {{ submitButton('Update Score')|raw }}
</form>
{# end update-score form #}

{% endblock %}