{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

    <h1 class="mb-4">all users</h1>

    {% if users is defined %}
        {% for user in users %}
            <div>
                <a href={{ url_for('user', { 'userId': user.userId }) }}> <u>{{ user.userId }}</u> </a> |
                {{ user.email }} |
                {{ user.status }} |
                {{ user.role }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}