{% extends "layout/dashboard-base.twig" %}

{% block content %}

    <h1>viewing user</h1>

    {% if user is defined %}

        <h1><a href={{ url_for('update-user', { 'userId': user.userId }) }}> <u>Update User</u> </a></h1>
        <h1><a href={{ url_for('delete-user', { 'userId': user.userId }) }}> <u>Delete User</u> </a></h1>

        <div>
            {{ user.userId }} <br>
            {{ user.email }} <br>
            {{ user.status }} <br>
            {{ user.role }} <br>
        </div>
    {% endif %}

{% endblock %}