{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

{% if user is defined %}

    <div class="flex flex-col">

        <h2>Viewing {{ user.email }}</h2>

        <div class="flex my-4">
            <a class="button" href={{ url_for('update-user', { 'userId': user.userId }) }}> Update User </a>
            <a class="button" onclick="if (!confirm('Are you sure?')) return false;" href={{ url_for('delete-user', { 'userId': user.userId }) }}>Delete User </a>
            <a class="button" href={{ url_for('resend-confirmation', { 'userId': user.userId }) }}> Resend Confirmation Link </a>
        </div>

        <div class="flex flex-col">
            <p><span class="font-bold">Id:</span> {{ user.userId }}</p>
            <p><span class="font-bold">Email:</span> {{ user.email }}</p>
            <p><span class="font-bold">Status:</span> {{ user.status }}</p>
            <p><span class="font-bold">Role:</span> {{ user.role }}</p>
        </div>

        {% include 'admin/eventLog.twig' %}

    </div>

{% endif %}

{% endblock %}