{% extends "layout/index-base.twig" %}

{% block content %}

<div class="mx-auto my-8 w-full max-w-lg bg-white px-6 py-8 rounded shadow-md text-black">
    {# reset-password form #}
    <form action="{{ url_for('reset-password', { 'token': token }) }}" method="POST">

        {{ getHiddenHoneypot()|raw }}
        {{ getCsrfFields()|raw }}

        <p class="my-4">Enter your new password.</p>

        {% if errors.userId is defined %} {{ displayErrors('userId', errors)|raw }} {% endif %}

        {{ textField('password', 'Password', 'password', 'Password', 'required')|raw }}
        {% if errors.password is defined %} {{ displayErrors('password', errors)|raw }} {% endif %}
            
        {{ textField('confirm_password', 'Confirm Password', 'password', 'Confirm Password', 'required')|raw }}

        {{ submitButton('Reset Password')|raw }}
    </form>
    {# end reset-password form #}
</div>

{% endblock %}