{% extends "layout/index-base.twig" %}

{% block content %}

{# sign in form #}
<div class="mx-auto my-8 w-full max-w-sm bg-white px-6 py-8 rounded shadow-md text-black">
    <form action="{{ url_for('sign-in') }}" method="POST">

        {{ getHiddenHoneypot()|raw }}
        {{ getCsrfFields()|raw }}

        <h1 class="mb-8 text-3xl text-center">Sign in</h1>

        {# we only want to show that it is an invalid email and password #}
        {# do not show the actual message since it could be anything #}
        {% if errors is defined %}
            <p class="text-sm text-red-600 italic">Invalid email or password</p>
        {% endif %}
        
        {{ textField('email', 'Email', 'email', 'your email address')|raw }}
        {{ textField('password', 'Password', 'password', '************')|raw }}
        {{ submitButton()|raw }}

        <p class="my-4 text-sm">If you forgot your password you can <a class="text-carolina font-semibold" href="{{ url_for('request-reset') }}">reset it.</a></p>

    </form>
</div>
{# end sign in form #}
    
{% endblock %}