{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# add-team form #}
<form action="{{ url_for('add-team') }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.designation is defined %}
        {% for error in errors.designation %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="designation" placeholder="where is this team" value="{% if old.designation is defined %}{{ old.designation }}{% endif %}" />

    {% if errors.mascot is defined %}
        {% for error in errors.mascot %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="mascot" placeholder="what is the mascot" value="{% if old.mascot is defined %}{{ old.mascot }}{% endif %}" />

    <button type="submit" class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-1"
    >Add Team</button>
</form>
{# end add-team form #}

{% endblock %}