{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# add-team form #}
<form action="{{ url_for('add-team') }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {{ textField('designation', 'Designation', 'text', 'where is this team', 'required')|raw }}
    {% if errors.designation is defined %} {{ displayErrors('designation', errors)|raw }} {% endif %}

    {{ textField('mascot', 'Mascot', 'text', 'what is mascot', 'required')|raw }}
    {% if errors.mascot is defined %} {{ displayErrors('mascot', errors)|raw }} {% endif %}

    {{ submitButton('Add Team')|raw }}
</form>
{# end add-team form #}

{% endblock %}