{% extends "layout/dashboard-base.twig" %}

{% block content %}

    <h1>all teams</h1>
    <p class="py-4"><a href="{{ url_for('add-team') }}"><u>Create Team</u></a></p>

    {% if teams is defined %}
        {% for team in teams %}
            <div>
                <a href={{ url_for('team', { 'id': team.teamId }) }}> <u>{{ team.teamId }}</u> </a> |
                {{ team.designation }} |
                {{ team.mascot }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}