{% extends "layout/dashboard-base.twig" %}

{% block content %}

    <h1>viewing team</h1>

    {% if team is defined %}
        <div>
            {{ team.teamId }} <br>
            {{ team.designation }} <br>
            {{ team.mascot }} <br>
            <a href={{ url_for('update-team', { 'teamId': team.teamId }) }}> <u>Update Team</u> </a>
            <a href={{ url_for('delete-team', { 'teamId': team.teamId }) }}> <u>Delete Team</u> </a>
            <a href={{ url_for('follow-team', { 'teamId': team.teamId }) }}> <u>Follow Team</u> </a>
        </div>


        <h1 class="py-4">Follows</h1>

        {% if team.follows is defined %}
            {% for follow in team.follows %}
                <div>
                    {{ follow.groupId }}
                    <a href={{ url_for('delete-follow', { 'teamId': follow.teamId, 'followId': follow.followId }) }}> <u>Delete Follow</u> </a>
                </div>
            {% endfor %}
        {% endif %}

        {% if team.games is defined %}
            {% for game in team.games %}
                <div>
                    <a href={{ url_for('update-game-score', { 'seasonId': game.seasonId, 'gameId': game.gameId }) }}> <u>Update Score</u> </a>
                    {{ game.homeTeamId }} {{ game.awayTeamId }} {{ game.homeTeamScore }} {{ game.awayTeamScore }} {{ game.startDate }}
                </div>
            {% endfor %}
        {% endif %}

    {% endif %}

{% endblock %}