{% extends "layout/dashboard-base.twig" %}

{% block content %}

{% if user is defined %}

    {# update-email form #}
    <form action="{{ url_for('update-email') }}" method="POST">

        {{ getHiddenHoneypot()|raw }}
        {{ getCsrfFields()|raw }}

        {% if errors.userId is defined %} {{ displayErrors('userId', errors)|raw }} {% endif %}

        {{ textField('email', 'Email', 'email', 'email address', 'required', user.email)|raw }}
        {% if errors.email is defined %} {{ displayErrors('email', errors)|raw }} {% endif %}

        {{ submitButton('Update Email')|raw }}
        
    </form>
    {# end update-email form #}

{% else %}

    <p>User is not defined.</p>

{% endif %}


{% endblock %}