{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# update-email form #}
<form action="{{ url_for('update-email', { 'userId': userId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {{ textField('email', 'Email', 'email', 'email address', 'required')|raw }}
    {% if errors.email is defined %} {{ displayErrors('email', errors)|raw }} {% endif %}

    {{ submitButton('Update Email')|raw }}
    
</form>
{# end update-email form #}

{% endblock %}