{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# update-email form #}
<form action="{{ url_for('update-email', { 'userId': userId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.email is defined %}
        {% for error in errors.email %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="email" required class="block border border-gray-light w-full p-3 rounded mb-4" name="email" placeholder="email" value="{% if old.email is defined %}{{ old.email }}{% endif %}" />


    <button type="submit" class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-1"
    >Update Email</button>
</form>
{# end update-email form #}

{% endblock %}