{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# update-password form #}
<form action="{{ url_for('update-password') }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.userId is defined %} {{ displayErrors('userId', errors)|raw }} {% endif %}

    {{ textField('password', 'Password', 'password', 'Password', 'required')|raw }}
    {% if errors.password is defined %} {{ displayErrors('password', errors)|raw }} {% endif %}
        
    {{ textField('confirm_password', 'Confirm Password', 'password', 'Confirm Password', 'required')|raw }}

    {{ submitButton('Update Password')|raw }}
</form>
{# end update-password form #}

{% endblock %}