{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# update-user form #}
<form action="{{ url_for('update-user', { 'userId': user.userId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.email is defined %}
        {% for error in errors.email %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="email" required class="block border border-gray-light w-full p-3 rounded mb-4" name="email" placeholder="email" value="{% if old.email is defined %}{{ old.email }}{% else %}{{user.email}}{% endif %}" />

    {% if errors.status is defined %}
        {% for error in errors.status %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="status" placeholder="what is the status" value="{% if old.status is defined %}{{ old.status }}{% else %}{{user.status}}{% endif %}" />

    {% if errors.role is defined %}
        {% for error in errors.role %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="role" placeholder="what is the role" value="{% if old.role is defined %}{{ old.role }}{% else %}{{user.role}}{% endif %}" />

    <button type="submit" class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-1"
    >Update User</button>
</form>
{# end update-user form #}

{% endblock %}