{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# update-user form #}
<form action="{{ url_for('update-user', { 'userId': user.userId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {{ textField('email', 'Email', 'email', 'email address', 'required', user.email)|raw }}
    {% if errors.email is defined %} {{ displayErrors('email', errors)|raw }} {% endif %}

    {{ textField('status', 'Status', 'text', 'status', 'required', user.status)|raw }}
    {% if errors.status is defined %} {{ displayErrors('status', errors)|raw }} {% endif %}

    {{ textField('role', 'Role', 'text', 'role', 'required', user.role)|raw }}
    {% if errors.role is defined %} {{ displayErrors('role', errors)|raw }} {% endif %}

    {{ submitButton('Update User')|raw }}

</form>
{# end update-user form #}

{% endblock %}