{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# add-game form #}
<form action="{{ url_for('add-game', { 'seasonId': seasonId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {{ textField('home_team_id', 'Home Team', 'text', 'what is home team', 'required')|raw }}
    {% if errors.home_team_id is defined %} {{ displayErrors('home_team_id', errors)|raw }} {% endif %}

    {{ textField('away_team_id', 'Away Team', 'text', 'what is away team', 'required')|raw }}
    {% if errors.away_team_id is defined %} {{ displayErrors('away_team_id', errors)|raw }} {% endif %}

    {{ textField('start_date', 'Game Start', 'date', 'when does the game_start', 'required')|raw }}
    {% if errors.start_date is defined %} {{ displayErrors('start_date', errors)|raw }} {% endif %}

    {{ submitButton('Add Game')|raw }}
</form>
{# end add-game form #}

{% endblock %}