{% extends "layout/dashboard-base.twig" %}

{% block content %}

{# create-season form #}
<form action="{{ url_for('create-season') }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.sport is defined %}
        {% for error in errors.sport %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="sport" placeholder="where is this sport" value="{% if old.sport is defined %}{{ old.sport }}{% endif %}" />

    {% if errors.season_type is defined %}
        {% for error in errors.season_type %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="season_type" placeholder="what is the season_type" value="{% if old.season_type is defined %}{{ old.season_type }}{% endif %}" />

    {% if errors.name is defined %}
        {% for error in errors.name %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="text" required class="block border border-gray-light w-full p-3 rounded mb-4" name="name" placeholder="what is the name" value="{% if old.name is defined %}{{ old.name }}{% endif %}" />

    {% if errors.season_start is defined %}
        {% for error in errors.season_start %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="date" required class="block border border-gray-light w-full p-3 rounded mb-4" name="season_start" placeholder="what is the season_start" value="{% if old.season_start is defined %}{{ old.season_start }}{% endif %}" />

    {% if errors.season_end is defined %}
        {% for error in errors.season_end %}
            <p class="text-sm text-red-600">{{ error|e }}</p>
        {% endfor %}
    {% endif %}
    <input type="date" required class="block border border-gray-light w-full p-3 rounded mb-4" name="season_end" placeholder="what is the season_end" value="{% if old.season_end is defined %}{{ old.season_end }}{% endif %}" />

    <button type="submit" class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-1"
    >Create Season</button>
</form>
{# end create-season form #}

{% endblock %}