{% extends "layout/dashboard-base.twig" %}

{% block content %}

    <h1 class="py-4">viewing season</h1>

    <a href={{ url_for('update-season', { 'seasonId': season.seasonId }) }}> <u>Update Season</u> </a>
    <a href={{ url_for('delete-season', { 'seasonId': season.seasonId }) }}> <u>Delete Season</u> </a>
    <a href={{ url_for('add-game', { 'seasonId': season.seasonId }) }}> <u>Add Game</u> </a>

    {% if season is defined %}
        <div>
            {{ season.seasonId }} <br>
            {{ season.sport }} <br>
            {{ season.type }} <br>
            {{ season.seasonStart }} <br>
            {{ season.seasonEnd }} <br>
        </div>

    {% endif %}

{% endblock %}