{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

{# add-game form #}
<form action="{{ url_for('add-game', { 'seasonId': seasonId }) }}" method="POST">

    {{ getHiddenHoneypot()|raw }}
    {{ getCsrfFields()|raw }}

    {% if errors.seasonId is defined %} {{ displayErrors('seasonId', errors)|raw }} {% endif %}

    {{ dropdownField('home_team_id', 'Home Team', null, teams, 'Select a team')|raw }}
    {% if errors.homeTeamId is defined %} {{ displayErrors('homeTeamId', errors)|raw }} {% endif %}

    {{ dropdownField('away_team_id', 'Away Team', null, teams, 'Select a team')|raw }}
    {% if errors.awayTeamId is defined %} {{ displayErrors('awayTeamId', errors)|raw }} {% endif %}

    {{ textField('start_date', 'Game Day', 'text', 'when day is the game', 'required')|raw }}
    {% if errors.startDate is defined %} {{ displayErrors('startDate', errors)|raw }} {% endif %}

    {{ textField('start_time', 'Game Time', 'text', 'when time is the game', 'required')|raw }}
    {% if errors.startTime is defined %} {{ displayErrors('startTime', errors)|raw }} {% endif %}

    {{ submitButton('Add Game')|raw }}
</form>
{# end add-game form #}

{% endblock %}