{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

{% if season is defined %}

    <div class="flex flex-col">

        <h2>Viewing {{ season.name }}</h2>
        
        <div class="flex my-4">
            <a class="button" href={{ url_for('update-season', { 'seasonId': season.seasonId }) }}> Update Season </a>
            <a class="button" onclick="if (!confirm('Are you sure?')) return false;" href={{ url_for('delete-season', { 'seasonId': season.seasonId }) }}> Delete Season </a>
            <a class="button" href={{ url_for('add-game', { 'seasonId': season.seasonId }) }}> Add Game </a>
        </div>

        <div>
            <p><span class="font-bold">Id:</span> {{ season.seasonId }} </p>
            <p><span class="font-bold">Sport:</span> {{ season.sport }} </p>
            <p><span class="font-bold">SeasonType:</span> {{ season.seasonType }} </p>
            <p><span class="font-bold">Start:</span> {{ season.seasonStart }} </p>
            <p><span class="font-bold">End:</span> {{ season.seasonEnd }} </p>
        </div>

        <h2>Games</h2>

        {% if games is defined %}
            {% for game in games %}
                <div class="border-b-2 border-solid my-2">
                    <a class="font-bold" href={{ url_for('team', { 'teamId': game.homeTeamId }) }}> {{ game.homeDesignation }} {{ game.homeMascot }} </a>
                    <span> vs </span>
                    <a class="font-bold" href={{ url_for('team', { 'teamId': game.awayTeamId }) }}> {{ game.awayDesignation }} {{ game.awayMascot }} </a>
                    {{ game.startDate }} / {{ game.startTime }}
                    <br>
                    {{ game.homeTeamScore }} {{ game.awayTeamScore }}
                    <br>
                    <div class="my-2">
                        <a class="button" href={{ url_for('update-game-score', { 'seasonId': game.seasonId, 'gameId': game.gameId }) }}> Update Score </a>
                        <a class="button" onclick="if (!confirm('Are you sure?')) return false;" href={{ url_for('delete-game', { 'seasonId': game.seasonId, 'gameId': game.gameId }) }}> Delete Game </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>

{% endif %}

{% include 'admin/eventLog.twig' %}

{% endblock %}