{% extends "layout/dashboard-base.twig" %}

{% block content %}

    <h1>all teams</h1>
    <div class="my-2">
        <a class="p-2 mr-2 bg-gray-300 rounded" href="{{ url_for('add-team') }}">Create Team</a>
    </div>


    {% if teams is defined %}
        {% for team in teams %}
            <div>
                <a href={{ url_for('team', { 'teamId': team.teamId }) }}> {{ team.teamId }} </a> |
                {{ team.designation }} |
                {{ team.mascot }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}