{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

    <h1>viewing team</h1>

    {% if team is defined %}
        <div>
            {{ team.teamId }} <br>
            {{ team.designation }} <br>
            {{ team.mascot }} <br>
            <a class="p-2 mr-2 bg-gray-300 rounded" href={{ url_for('update-team', { 'teamId': team.teamId }) }}> Update Team </a>
            <a class="p-2 mr-2 bg-gray-300 rounded" onclick="if (!confirm('Are you sure?')) return false;" href={{ url_for('delete-team', { 'teamId': team.teamId }) }}> Delete Team </a>
            <a class="p-2 mr-2 bg-gray-300 rounded" href={{ url_for('admin-follow-team', { 'teamId': team.teamId }) }}> Add Follow </a>
        </div>


        <h1 class="py-4">Follows</h1>

        {% if team.follows is defined %}
            {% for follow in team.follows %}
                <div>
                    {{ follow.groupId }}
                    <a class="p-2 mr-2 bg-gray-300 rounded" href={{ url_for('admin-delete-follow', { 'teamId': follow.teamId, 'groupId': follow.groupId, 'followId': follow.followId }) }}> Delete Follow </a>
                </div>
            {% endfor %}
        {% endif %}

        <h1 class="py-4">Games</h1>
        {% if team.games is defined %}
            {% for game in team.games %}
                <div>
                    <a class="p-2 mr-2 bg-gray-300 rounded" href={{ url_for('update-game-score', { 'seasonId': game.seasonId, 'gameId': game.gameId }) }}> Update Score </a>
                    {{ game.homeTeamId }} {{ game.awayTeamId }} {{ game.homeTeamScore }} {{ game.awayTeamScore }} {{ game.startDate }}
                </div>
            {% endfor %}
        {% endif %}

    {% endif %}

{% endblock %}