{% extends "layout/base.twig" %}

{% block base %}

<body class="text-lg">

    {# nav header #}
    <div class="flex justify-between flex-wrap bg-carolina text-white py-2 px-4">
        <a class="hover:text-navy" href={{ url_for('home') }}>Tar Heel Tailgate - Score Prediction With Friends</a>
        {% if session.email is defined %}
            <span>
                <a class='mx-2 hover:text-navy' href={{ url_for('profile') }}>Profile</a> |
                <a class='mx-2 hover:text-navy' href={{ url_for('sign-out') }}>Sign out</a>
            </span>
        {% endif %}
    </div>
    {# end nav header #}

    {# main container #}
    <div class="h-screen p-4">

        {# error #}
        {% if flash('error') %}
            <div class="flex justify-center" role="alert">
                <div class="border border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                    {% for message in flash('error') %}
                        <p>{{ message|e }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {# end error #}

        {# success #}
        {% if flash('success') %}
            <div class="flex justify-center" role="alert">
                <div class="border border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
                    {% for message in flash('success') %}
                        <p>{{ message|e }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {# end success #}

        {# admin things #}
        {% if isAdmin() %}

            <div class="border-b-2 pb-4 mb-4 border-black">

                <h1 class="text-2xl p-2">Admin</h1>

                <a href="{{ url_for('users') }}" class="p-2 mx-2 bg-gray-300 rounded">Users</a>
                <a href="{{ url_for('groups') }}" class="p-2 mx-2 bg-gray-300 rounded">Groups</a>
                <a href="{{ url_for('teams') }}" class="p-2 mx-2 bg-gray-300 rounded">Teams</a>
                <a href="{{ url_for('seasons') }}" class="p-2 mx-2 bg-gray-300 rounded">Seasons</a>

            </div>

        {% endif %}
        {# end admin things #}


        {% block content %}{% endblock %}


    </div>
    {# end main container #}

</body>

{% endblock %}