{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

{% if user is defined %}

    <h2>Updating - {{ user.email }}</h2>

    {# update-user form #}
    <form action="{{ url_for('update-user', { 'userId': userId }) }}" method="POST">

        {{ getHiddenHoneypot()|raw }}
        {{ getCsrfFields()|raw }}

        {% if errors.userId is defined %} {{ displayErrors('userId', errors)|raw }} {% endif %}

        {{ textField('email', 'Email', 'email', 'email address', 'required', user.email)|raw }}
        {% if errors.email is defined %} {{ displayErrors('email', errors)|raw }} {% endif %}

        {{ dropdownField('status', 'Status', user.status, statuses, 'Select a status')|raw }}
        {% if errors.status is defined %} {{ displayErrors('status', errors)|raw }} {% endif %}

        {{ dropdownField('role', 'Role', user.role, roles, 'Select a role')|raw }}
        {% if errors.role is defined %} {{ displayErrors('role', errors)|raw }} {% endif %}

        {{ submitButton('Update User')|raw }}

    </form>
    {# end update-user form #}

{% else %}

    <p>User is not defined.</p>

{% endif %}

{% endblock %}